* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Agdasima', sans-serif;
    background: linear-gradient(196deg, rgba(154,197,244,1) 20%, rgba(153,219,245,1) 100%);
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15% 10%;
}

.container {
    background-color: #73BBC9;
    box-shadow: #000 3px 3px 4px;
    border-radius: 20px;
    max-width: 500px;
    text-align: center;
    line-height: 2;
    padding: 10px;
}

.container:hover {
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .container {
        max-width: 400px;
        line-height: 1;
    }
}

@media (max-width: 400px) {
    .container {
        max-width: 230px;
    }
}

/* FORM CONTAINER */
.form {
    padding: 10px 0;
    margin-bottom: 10px;
}

.form h2 {
    letter-spacing: 3px;
}

#city-input {
    box-shadow: #20365b 1px 2px 4px;
    border: 1px solid #73BBC9;
    border-radius: 10px;
    margin: 20px 0;
    text-align: center;
    height: 60px;
    width: 300px;
}

#search {
  background: #73BBC9;
  color: #fff;
  box-shadow: #20365b 1px 2px 4px;
  border: 1px solid ;
  border-radius:  10px;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

#search:hover {
  background-color: #fff;
  color: #20365b;
}

#error {
    color: rgb(152, 36, 36);
    font-size: 1.25rem;
    padding-top: 10px;
}

@media (max-width: 600px) {
    .form h2 {
        letter-spacing: 0.5px;
    }

    #city-input {
        width: 210px;
    }
}

@media (max-width: 400px) {
    .form h2 {
        font-size: 1.25rem;
    }

    #city-input {
        height: 40px;
    }

    #search {
        height: 40px;     
    }
}

/*  WEATHER DATA */
.hide {
    display: none;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding: 15px 0;
}

#temperature-container h2 {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 2rem;
    padding: 15px 0;
}

#temperature-container {
    font-size: 4rem;
    padding: 15px 0;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
    font-size: 1.5rem;
}

#humidity {
    padding-right: 1.5rem;
    border-right: 5px solid;
    border-image: linear-gradient(to right, rgba(154,197,244,1) 30%, rgba(153,219,245,1) 65%) 1;
}

#info-container {
    background-color: #9BCDD2;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}

#info-container a {
    color: #0461ad;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 20px;
}

#info-container a:hover {
    color: #20365b;
}

@media (max-width: 600px) {
    #description-container, #details-container {
        font-size: 1.25rem;
    }

    #temperature-container h2 {
        gap: 10px;
        font-size: 1.25rem;
    }
    
    #temperature {
        font-size: 3rem;
    }
    
    #country-flag {
        height: 35px;
    }
}

@media (max-width: 400px) {
    #description-container, #details-container,  #info-container a {
        font-size: 1rem;
    }
}